.flag {
	background-color: #E11A27;
	height: 100px;
	width: 100px;
	overflow: hidden;
}
.white {
	position: absolute;
	background-color: white;
	display: block;
	border-radius: 5px;
}
.stripever {
	margin-top: 12.5px;
	height: 75px;
	width: 20px;
	margin-left: 40px;
}
.stripehor {
	width: 75px;
	height: 20px;
	margin-left: 12.5px;
	margin-top: 40px;
}